<nav class="flex-column">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house fs-5"></i> <span class="nav-text ms-2">Home</span>
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="form" Match="NavLinkMatch.Prefix">
            <i class="bi bi-pencil fs-5"></i> <span class="nav-text ms-2">Form</span>
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="path" Match="NavLinkMatch.Prefix">
            <i class="bi bi-map fs-5"></i> <span class="nav-text ms-2">Path</span>
        </NavLink>
    </div>
</nav>

<style>
    .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: white !important;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        margin: 0 0.75rem;
        padding-left: 1rem !important;
    }

    .sidebar.collapsed .nav-item a {
        justify-content: center;
        padding-left: 0 !important;
    }

    .sidebar.collapsed .nav-text {
        display: none;
    }

    .nav-item a.active {
        background-color: rgba(255, 255, 255, 0.25);
        color: white !important;
    }

    .nav-item a:hover {
        background-color: rgb(255, 255, 255, 0.1);
        color: white !important;
    }
</style>
